# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Builds and caches
.next
dist
build
.cache
.turbo
.swc
.vercel
coverage
.tmp

# Env and secrets
.env
.env.*
.env.local
.env.production
.env.development
.env.test
.npmrc
.databrickscfg

# IDE/OS
.DS_Store
.idea
.vscode
*.swp

# Databricks sync metadata
.databricks/*
